*{
    margin: 0%;
}
header{
    display: flex;
    align-items: center;
    padding: 20px;
    color:white;
    background-color: white;
    margin-top: 0%;
    
   
    
   
}
.logo img{
    width: 935px;
height: 87px;
padding-right: 53px;
}
.image img{
    width: 1416px;
    height: 227px;
    padding-right: 27px;
    border-radius: 75px;
}
.submenu{
    display: none;
    position:absolute;
    background-color: rgba(55, 57, 58, 0.774);
    list-style: none;
    padding:10px;
    border: 2px;
    border-radius: 15px;
}
.menu{
    display: flex;
    list-style: none;
    padding: 10px;
    background-color:rgba(53, 50, 50, 0.562);
    margin: 0;
    border-bottom: 1px solid black;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    color:white;
    text-decoration: none;
}
.dropdown:hover .submenu{
    display: block;
}
.submenu li{
    margin: 5px 0;

}
li a:hover{
    background-color: white;
    color:rgba(58, 57, 57, 0.377)
}
.aboutnit{
    padding: 47px;
font-size: 25px;
text-align: center;
color:white;
background-color: rgba(53, 50, 50, 0.562);
border: 1px solid black;
border-radius: 40px;
margin: 74px;
height: 700px;
width: 1200px;
}
footer{
    background-color: rgba(245, 245, 245, 0.666);
    height: 70px;
padding: 7px;;
    margin:0px;
}